<div class="container">
    <div class="row content">
      <div class="col col-md-6 mb-3" style="background-color:rgb(165, 165, 248) ;">
        <div class="overlay">
            <h1>M-Store</h1>
            <p>Thank You For Shopping with Us</p>
            <span>
                <p>Want to shop more!!!</p>
                <a href="home"><i class="fa fa-login" aria-hidden="true"></i> Shop More</a>
              
            </span>
            </div>
       
      </div>
      <div class="col-md-6">
        <div class="payment">
            <h1 style="font-size: 40px; margin-left:40px;margin-top: 60px;color:rgb(58, 58, 105);font-weight: bold;">You are now left with <br> Your Payment Process</h1>
            <h2 style="font-size: 40px; margin-left:120px;">Pay with</h2><img src="/assets/images/razorpay.png" height="200px" style="margin-left:40px ;">
            <a class ="btn btn-success" style="margin-top: 20px;margin-left:60px;height: 50px;width:300px;" href="https://rzp.io/i/S2Mwbd7Tr8" target="_blank"><i class="fa fa-shopping-cart"></i>Pay Now</a>

        </div>

       
        
      </div>
    </div>
  </div>
  <app-footer></app-footer>