<h1 style="text-align: center;font-weight:bold;font-size: 45px; color:rgb(81, 81, 248)">Mobiles</h1>
<div class="container" id="buy">
    
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/oneplus10.png" alt="">
        </div>
        <div class="product-info">
            <h4>OnePlus 10T 5G</h4>
            <h4>Rs 49,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/oneplusnordce.png" style="height:200px;"alt="">
        </div>
        <div class="product-info">
            <h4>OnePlus Nord CE 2 Lite 5G</h4>
            <h4>Rs 19,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/oneplus10pro.png" alt="">
        </div>
        <div class="product-info">
            <h4>OnePlus 10Pro 5G</h4>
            <h4>Rs 73,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/samsungs22.jpg"style="height:200px;width:150px;" alt="">
        </div>
        <div class="product-info">
            <h4>Samsung S22 Ultra</h4>
            <h4>Rs 1,19,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/galaxyfold.png" style="height:200px;" alt="">
        </div>
        <div class="product-info">
            <h4>Samsung Z Fold 4</h4>
            <h4>Rs 1,54,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/galaxyz.jpg"style="height:200px;" alt="">
        </div>
        <div class="product-info">
            <h4>Samsung Z Flip 4</h4>
            <h4>Rs 89,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/oneplus10.png" alt="">
        </div>
        <div class="product-info">
            <h4>OnePlus 10T 5G</h4>
            <h4>Rs 49,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/oneplus10.png" alt="">
        </div>
        <div class="product-info">
            <h4>OnePlus 10T 5G</h4>
            <h4>Rs 49,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
</div>
<footer class="bg-dark p-3" style="text-align: center; padding-top:20px;padding-bottom:20px;">
    <div class="container text-center">
        <p class="text-white">All Right Reserved By @ M-Store.com</p>
    </div>
</footer>