<!-- <div class="conntainer">
    <div class="row">
        <ng-container *ngFor="let item of ProductDetails">
            <div class="card col-md-3">
                <img src="{{item.image}}">
            </div>
        </ng-container>
    </div>
</div> -->
<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

 <h1 [style.text-align]="'center'" [style.font-weight]="'bold'" [style.font-size]="'45px'" [style.color]="'rgb(81, 81, 248)'">Mobiles</h1>
<div class="container"  id="buy">
    
    <div class="card" *ngFor="let item of ProductDetails" [ngSwitch]="item.status">
        <div  *ngIf="searchText==='' ||item.pname.toLowerCase().includes(searchText)">
        <div *ngSwitchCase="'Instock'">
        <div class="product-image">
            <img [src]="item.image" [style.height]="'200px'" [style.width] ="'200px'" alt="">
        </div>
        <div class="product-info">
            <h4>{{item.pname}}</h4>
            <h4>{{item.price}}</h4>
        </div>
        <div class="product-info">
            <h5 [style.text-align]="'justify'" [style.color]="'blue'">{{item.pdescription}}</h5>
           
        </div>
        <div class="p-2 mb-2 bg-success text-white text-center">In Stock</div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
</div>
    <div *ngSwitchCase="'Outstock'" style="opacity:56% ;">
        <div  *ngIf="searchText==='' ||item.pname.toLowerCase().includes(searchText)">
        <div class="product-image">
            <img [src]="item.image" [style.height]="'200px'" [style.width] ="'200px'" alt="">
        </div>
        <div class="product-info">
            <h4>{{item.pname}}</h4>
            <h4>{{item.price}}</h4>
        </div>
        <div class="product-info">
            <h5 [style.text-align]="'justify'" [style.color]="'purple'">{{item.pdescription}}</h5>
           
        </div>
        <div class="p-2 mb-2 bg-danger text-white text-center">Out of Stock</div>
        
        <div class="btn">
           
            <button type="button" (click)="onBuy()">Buy Now</button>
        </div>
        </div>
    </div>

</div>
</div>
<app-footer></app-footer>