<!-- <div class="conntainer">
    <div class="row">
        <ng-container *ngFor="let item of ProductDetails">
            <div class="card col-md-3">
                <img src="{{item.image}}">
            </div>
        </ng-container>
    </div>
</div> -->
 <h1 [style.text-align]="'center'" [style.font-weight]="'bold'" [style.font-size]="'45px'" [style.color]="'rgb(81, 81, 248)'">Mobiles</h1>
<div class="container"  id="buy">
    
    <div class="card" *ngFor="let item of ProductDetails" [ngSwitch]="item.status">
        <div *ngSwitchCase="'Instock'">
        <div class="product-image">
            <img [src]="item.image" [style.height]="'200px'" [style.width] ="'200px'" alt="">
        </div>
        <div class="product-info">
            <h4>{{item.pname}}</h4>
            <h4>{{item.price}}</h4>
        </div>
        <div class="product-info">
            <h6 [style.text-align]="'justify'">{{item.pdescription}}</h6>
           
        </div>
        <div class="p-2 mb-2 bg-success text-white text-center">In Stock</div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div *ngSwitchCase="'Outstock'">
        <div class="product-image">
            <img [src]="item.image" [style.height]="'200px'" [style.width] ="'200px'" alt="">
        </div>
        <div class="product-info">
            <h4>{{item.pname}}</h4>
            <h4>{{item.price}}</h4>
        </div>
        <div class="product-info">
            <h6 [style.text-align]="'justify'">{{item.pdescription}}</h6>
           
        </div>
        <div class="p-2 mb-2 bg-danger text-white text-center">Out of Stock</div>
        
        <div class="btn">
           
            <button type="button">Buy Now</button>
        </div>
    </div>

</div>
</div>
    <!-- <div class="card">
        <div class="product-image">
            <img src="/assets/images/oneplusnordce.png" style="height:200px;"alt="">
        </div>
        <div class="product-info">
            <h4>OnePlus Nord CE 2 Lite 5G</h4>
            <h4>Rs 19,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/oneplus10pro.png" alt="">
        </div>
        <div class="product-info">
            <h4>OnePlus 10Pro 5G</h4>
            <h4>Rs 73,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/samsungs22.jpg"style="height:200px;width:150px;" alt="">
        </div>
        <div class="product-info">
            <h4>Samsung S22 Ultra</h4>
            <h4>Rs 1,19,999</h4>
        </div>
        <div class="btn">
            <button type="button" routerLink="/contact">Buy Now</button> 
             <a class="btn btn-primary" style="font-size: large;" routerLink="about">About</a> -->
       <!-- </div>-->
    <!-- </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/galaxyfold.png" style="height:200px;" alt="">
        </div>
        <div class="product-info">
            <h4>Samsung Z Fold 4</h4>
            <h4>Rs 1,54,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/galaxyz.jpg"style="height:200px;" alt="">
        </div>
        <div class="product-info">
            <h4>Samsung Z Flip 4</h4>
            <h4>Rs 89,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/oneplus10.png" alt="">
        </div>
        <div class="product-info">
            <h4>OnePlus 10T 5G</h4>
            <h4>Rs 49,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="card">
        <div class="product-image">
            <img src="/assets/images/oneplus10.png" alt="">
        </div>
        <div class="product-info">
            <h4>OnePlus 10T 5G</h4>
            <h4>Rs 49,999</h4>
        </div>
        <div class="btn">
            <button type="button">Buy Now</button>
        </div>
    </div> 
</div>-->
<footer class="bg-dark p-3" style="text-align: center; padding-top:20px;padding-bottom:20px;">
    <div class="container text-center">
        <p class="text-white">All Right Reserved By @ M-Store.com</p>
    </div>
</footer>