<section class="contact section-padding" id="contact">
    <div class="container mt-2 mb-2">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-header  pb-5">
                    <h2>Reach Us</h2>
                    <p><img src="/assets/images/reach.svg"></p>
                </div>
            </div>
            <div class="col-md-6" style="border:2px solid black; padding-bottom: 20px;">
                <h4>Feedback Form</h4><br>
                Your Feedback means a lot!
                    <form class = 'card p-3 ' style="border:2px solid rgb(54, 44, 245)">
                        <div class="form-group">
                          <label for="exampleInputName1">Name</label>
                          <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter Name">
                         
                        </div>
                        <div class="form-group">
                            <label for="exampleInputContact1">Contact</label>
                            <input type="text" class="form-control" id="exampleInputContact1" aria-describedby="nameHelp" placeholder="Enter Contact">
                           
                          </div>
                          <div class="form-group">
                            <label for="exampleInputFeedback1">Feedback</label>
                            <input type="text" class="form-control" id="exampleInputFeedback1" aria-describedby="nameHelp" placeholder="Your Feedback">
                           
                          </div>
                        
                        <button type="submit" (click)="onClick()" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
                      </form>
                      <h4 style="text-align:center ; padding: 5%;">Reach To <br>
                    <p>Customer Care: 2355533221<br>
                Email Us: m-store@gmail.com</p></h4>
                
            </div>
        </div>
        
    </div>
</section><!-- contact ends -->
<footer class="bg-dark p-2 text-center">
    <div class="container">
        <p class="text-white">All Right Reserved By @ radiant.com</p>
    </div>
</footer>
