
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <div class="team">
                        <div class="row">
                            <div class="col-md-12 mt-md-3" style="padding-top:-10px;">
                                <div class="section-header text-center pb-3">
                                    <h2 class="txt" style="color: rgb(91, 91, 248);font-weight:bold;font-size:45px;">Our Teams</h2>
                                    <p  class="txt" style="color: rgb(47, 47, 98);font-weight:bold;font-size:35px;">Contact Details<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-10 col-lg-6"  *ngFor="let c of contact">
                                <div class="card text-center" style="width:300px ; margin-top: 10px;margin-bottom: 20px;">
                                    <div class="card-body">
                                        <img alt="" class="img-fluid rounded-circle"  style="height: 200px;" [src]="c.image">
                                        <h3 class="card-title py-2" style="color: rgb(47, 47, 98);font-weight: bold;">{{c.name}}</h3>
                                        <h4 class="card-text">{{c.department}}<br>
                                        We look into your queries related to Products<br></h4>
                                        <h4 class="cont" style="color:rgb(47, 47, 98) ;font-weight: bold;">Email: {{c.email}}</h4>
                                        <h4 class="cont" style="color:rgb(249, 56, 56) ; font-weight: bold;">Contact: {{c.mobile}}</h4>
                                        <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
                                    </div>
                                </div>
                            </div>
                            
                          
                       
                        </div>
                    </div>
                    </div>
           
                
            <div class="col-md-4" style="padding-bottom: 20px;">
                <h2 class="query"style="margin-top:10px;text-align:center; font-size:45px;font-weight:bold;">Any Queries <img src="/assets/images/reach.svg" width="100px" height="100px"></h2><br>
                <h3>Here to solve your Queries</h3>
                    <form class = 'card p-5 ' style="background-color:blanchedalmond;margin-left:10px; height:400px;padding:60px;width: 400px; border:2px solid rgb(54, 44, 245)">
                        <div class="form-group" style="height: 80px ;">
                          <label for="exampleInputName1">Name</label>
                          <input style="height: 50px ; width: 300px;"type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter Name">
                         
                        </div>
                        <div class="form-group"  style="height: 80px ;">
                            <label for="exampleInputContact1">Contact</label>
                            <input style="height: 50px ; width: 300px;" type="text" class="form-control" id="exampleInputContact1" aria-describedby="nameHelp" placeholder="Enter Contact">
                           
                          </div>
                          <div class="form-group">
                            <label for="exampleInputFeedback1">Message</label>
                            <input style="height: 50px ; width: 300px;" type="text" class="form-control" id="exampleInputFeedback1" aria-describedby="nameHelp" placeholder="Your Feedback">
                           
                          </div>
                        
                        <button type="submit" (click)="onClick()" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
                      </form>
                      <div class="formimg" style="margin-top:200px;"><img src="/assets/images/Contact-1.gif" width="500px; " ></div>
                     
                    
            </div>
        </div>
        
    </div>
<app-footer></app-footer>