.team .card {
	box-shadow: 25px 15px 40px rgba(71, 78, 155, 0.899);
}
/* .container{
	background-image: url("/assets/images/cont.gif");
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: contain;
} */