img{
    height: 90px;
    width: 90px;

}
#navbar{
	background-color:  #1c1c50;
}
.navbar-dark .navbar-brand {
	color: rgb(131, 153, 241);
	font-size: 35px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
#nav{
	background-color:rgb(131, 153, 241) ;
}
.navbar-nav a {
	font-size: 25px;
    color: #1c1c50;
	text-transform: capitalize;
	font-weight: bold;
	font-weight: 500;
}

/* .dropdown-menu li {
	position: relative;
	}
	.dropdown-menu .dropdown-submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: -7px;
	}
	.dropdown-menu .dropdown-submenu-left {
	right: 100%;
	left: auto;
	}
	.dropdown-menu > li:hover > .dropdown-submenu {
	display: block;
	} */

	