



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
     
      <a class="navbar-brand " href="#">
        <img [src]="logo" alt="Gadgets">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">

            <button routerLink='cartitem' style="border:none; color:rgb(243, 156, 207); border-radius: 10px;" *ngIf="auth">
              <span class="fa-solid fa-cart-shopping fa-10x" style="font-size:35px;color:rgb(119, 135, 239)"><sup class="text-danger" style="font-size:25px;margin-left: 3px;;">{{cartCount}}</sup></span>
            </button> &nbsp;&nbsp;&nbsp;
          </li>
          <li class="nav-item">
            <button routerLink="register" *ngIf="!auth "  class="btn btn-outline-info" style="color:rgb(11, 11, 11);font-size:20px;background-color:rgb(174, 184, 246)">Register/Sign in</button>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-dark" type="submit" style="border-radius:10px;font-size:20px;background-color:rgb(174, 184, 246)" routerLink="login"
            *ngIf="auth">Logout</a>
            
          </li>
          <form >
       

            <!-- <input type="text" #productname placeholder="Enter Product name" style="border-radius:10px; height: 50px; margin-left: 750px;">&nbsp;
           
            <button class="btn btn-outline-info" type="submit" (click)="search_product(productname.value);productname.value=''" 
            style="border-radius:10px;height: 50px;">Search</button>
           
            <br> -->
            
           
           
          </form>

          
        </ul>
       
        
       
      </div>
    </div>

    
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     
      
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!--href - render the entire page-->
            <!--SPA - Partial Rendering - routerLink-->
            <a class="nav-link active" aria-current="page"  routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cards" *ngIf="auth">Mobiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="laptops" *ngIf="auth">Laptops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tv" *ngIf="auth">TV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="productdetails"  *ngIf="admin">Product Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" *ngIf="auth">Customer Care</a>
          </li>

          
        </ul>
  
        
      </div>
    </div>
    
  </nav>

  <!-- <br>&nbsp;&nbsp;&nbsp;
  <app-search [product]="productentered"></app-search>   <!--PROPERTY BINDING-->
  <br>
  <br> 
  