/* .alert {
    padding: 20px;
    background-color: #afb9eb; 
    color: rgb(7, 7, 7);
    margin-bottom: 15px;
    margin-left:20px ;
    margin-right:20px ;
  }
  
  /* The close button 
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button 
  .closebtn:hover {
    color: black;
  } */
  .form-control {
		border-radius: 3px;
    border-color:2px solid black;
		width: 600px;
		margin-left: 420px;
	}
	input{
    border-color: #6464f2;
    font-weight: bold;
    font-size: 20px;
    color: antiquewhite;

  }
  .form-control{
    border-color:2px solid rgb(100, 100, 242);
    background-color: rgb(197, 195, 244);
    font-weight: bold;

  }
	.search-icon {
		position: absolute;
		z-index: 12;
		right: 35%;
		top: 243px;
		color: rgb(247, 112, 28);
		height: 50px;
	}
