<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/assets/images/samsung.jpg" class="d-block w-100" alt="CSS">
      <div class="carousel-caption d-none d-md-block">
        <h2>Galaxy S20 FE 5G</h2>
        <p>Galaxy S20 FE 5g is ready.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/images/samsung2.jpg" class="d-block w-100" alt="JS">
      <div class="carousel-caption d-none d-md-block">
        <h2>Samsung S22 Ultra</h2>
        <p>Way beyond all-day battery</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/vivo.jpg" class="d-block w-100" alt="JQ">
      <div class="carousel-caption d-none d-md-block">
        <h2 style="color:black;font-weight:bold;">Vivo Y35</h2>
        <p>Get 44w Flash Charge and Extented Ram</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>

<section class="about section-padding" id="about">
  <div class="about-container" style="margin-left: 80px;">
    <div class="row">
      <h1 style="text-align: center;"> <span class="text-dark">Feel it</span> Reel </h1>
      <h2 style="text-align: center;"><span class="text-info"> M-Store </span>Provides ravishing Mobiles
      </h2>
      <div class="col-lg-6 col-md-12 col-12" style="margin-top:35px ;margin-bottom: 55px;">
        <div class="about-text">

          <p>
          <h2><span class="text-danger"> Introducing </span>Samsung S22 Ultra</h2>
          <iframe width="560" allow="autoPlay" height="315" src="https://www.youtube.com/embed/kTzRLVVbSMA"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <p>Samsung S22 Ultra is The phone that makes everyday epic, Nightography camera, <br>Way beyond all-day
            battery. An epic leap for smartphone technology
            4NM <br> PROCESSOR
            The fastest chip ever on Galaxy

          </p><a class="btn btn-warning" routerLink="cards">Buy Now</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12" style="margin-top:35px ; margin-bottom: 40px;">

        <p>
        <h2><span class="text-danger"> Introducing </span>iPhone 14</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ehbmC1irQuY" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p>Introducing iPhone 14 and iPhone 14 Plus. Two great sizes, Big (6.1”) and Bigger (6.7”). <br>A new front
          camera with autofocus. A more advanced dual-camera system for even <br> better photos.
          Action mode for extra smooth videos. All-day battery life on iPhone 14.</p>
        <p><a class="btn btn-warning" style=" height: 50px;width: 100px;" routerLink="cards">Buy Now</a></p>
      </div>
    </div>
  </div>

</section>
<section>
  <div class="row">
    <div class="col-sm-2">
      <div class="list-group" style="width: 200px;">
        <a href="#" class="list-group-item list-group-item-action"><span class="fa-sharp fa-solid fa-bars">
            Categories</span></a>



        <a href="#" routerLink="/cards" class="list-group-item list-group-item-action list-group-item-info"><i
            class="fa-solid fa-mobile"> Mobiles</i></a>
        <i class="fa-solid fa-square-list"></i><a href="#" routerLink="/tv"
          class="list-group-item list-group-item-action list-group-item-info"><i class="fa-solid fa-tv"> TV</i></a>
        <a href="#" routerLink="/laptops" class="list-group-item list-group-item-action list-group-item-info"><i
            class="fa-solid fa-laptop"> Laptops</i></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info"><i class="fa-solid fa-clock">
            Accesories</i></a>


      </div>
    </div>

    <div class="col-sm-10">

      <div class="bbb_viewed">
        <div class="container" id="sales">
          <div class="row">
            <div class="col">
              <div class="bbb_main_container">
                <div class="bbb_viewed_title_container">
                  <h3 class="bbb_viewed_title">Best Selling Products<i class="fa-solid fa-square-list"></i></h3>

                </div>

                <div class="col">
                  <div class="container" id="buy">
                    <div *ngFor="let a of all.slice(0,6)" style="border:none;margin-top:30px;">
                      <div class="card d-flex flex-column h-150">

                        <div class="product-image">
                          <img [src]="a.image" [style.height]="'200px'" [style.width]="'200px'" alt="">
                        </div>
                        <div class="product-info">
                          <h4>{{a.pname | uppercase}}</h4>
                          <h4>Price : {{a.price | currency : 'INR'}}</h4>

                        </div>
                        <div class="bn">
                          <button class="btn btn-dark btn-sm float-center"
                            style="width:150px;height:50px;margin-top:30px;background-color: rgb(153, 136, 251);color: black;">Buy Now</button>
                        </div>



                      </div>
                    </div>
                  </div>


                </div>


              </div>
              <button class="btn btn-danger" routerLink="allproducts" id="viewmorebtn">View More</button>


            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</section>



<app-footer></app-footer>